/*
████████╗███████╗███████╗████████╗   ██╗  ██╗
╚══██╔══╝██╔════╝██╔════╝╚══██╔══╝   ██║  ██║
   ██║   █████╗  ███████╗   ██║█████╗███████║
   ██║   ██╔══╝  ╚════██║   ██║╚════╝╚════██║
   ██║   ███████╗███████║   ██║           ██║
   ╚═╝   ╚══════╝╚══════╝   ╚═╝           ╚═╝
*/

/*? ➞➞➞➞➞ Custom Properties ➞➞➞➞➞ */

:root {
  /**   -> Colors <-   */

  --c-1: #042940;
  --c-2: #005C53;
  --c-3: #9FC131;
  --c-4: #DBF227;
  --c-5: #D6D58E;

  --c-6: #245247;
  --c-7: #47a87b;
  
  /**   -> gray colors <-   */
  
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;
  --gray-10: #aaa;
  
  /**   -> Gradients <-   */

  --gradient-1: linear-gradient(0deg, rgba(0,36,0,1) 0%, rgba(54,121,9,1) 50%, rgba(219,255,0,1) 100%);
  --gradient-1-50: linear-gradient(0deg, rgba(0,36,0,.5) 0%, rgba(54,121,9,.5) 50%, rgba(219,255,0,.5) 100%);
  --gradient-1-inv: linear-gradient(0deg, rgba(219,255,0,1) 0%, rgba(54,121,9,1) 50%, rgba(0,36,0,1) 100%);
  --gradient-2: linear-gradient(0deg, rgba(0,36,0,1), rgba(54,121,9,1), rgba(219,255,0,1), rgba(54,121,9,1), rgba(0,36,0,1));
  --gradient-3: linear-gradient(0deg, rgba(219,255,0,1), rgba(54,121,9,1), rgba(0,36,0,1), rgba(54,121,9,1), rgba(219,255,0,1));
  --gradient-4: linear-gradient(rgba(200,200,200,1), rgba(200,200,200,.1));

  /**   -> IMGs <-   */

  --bg-L: url('../img/lem-L.jpg');
  --bg-R: url('../img/lem-R.jpg');
}

/*? ➞➞➞➞➞ Basic reset ➞➞➞➞➞ */

/* (⌐■_■) This code will reset the basic styles of the web page, such as margins, padding and fonts, 
   and will set some default values for elements. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #337ab5;
}

/*? ➞➞➞➞➞ Layout ➞➞➞➞➞ */

/*
┌────────────────────────────────────────────────────┐
│                      header                        │
└────────────────────────────────────────────────────┘
┌───────┐ ┌────────────────┬───────────────┐ ┌───────┐
│       │ │                │               │ │       │
│       │ │       c-1      │      c-2      │ │       │
│   L   │ ├────────────────┼───────────────┤ │   R   │
│       │ │                │               │ │       │
│       │ │       c-3      │      c-4      │ │       │
└───────┘ └────────────────┴───────────────┘ └───────┘
┌────────────────────────────────────────────────────┐
│                      footer                        │
└────────────────────────────────────────────────────┘
*/

/*? ➞➞➞➞➞ grid-container ➞➞➞➞➞ */

.gc {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr) 20%;
  grid-template-rows: 15% repeat(2, 1fr) 15%;
  grid-template-areas: 
  "header header header header"
  "left c-1 c-2 right"
  "left c-3 c-4 right"
  "footer footer footer footer";
}

.header {grid-area: header;}
.left {grid-area: left;}
.c-1 {grid-area: c-1;}
.c-2 {grid-area: c-2;}
.c-3 {grid-area: c-3;}
.c-4 {grid-area: c-4;}
.right {grid-area: right;}
.footer {grid-area: footer;}

.header,
.left,
.c-1,
.c-2,
.c-3,
.c-4,
.right,
.footer {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  /* border: 1px solid var(--gray-1); */
}

/** <=<=[ int ]=>=> */

.int {
  position: absolute;
  width: 40%;
  height: 50%;
  border: 1px solid var(--gray-5);
}

/*? d[-_-]b M1 */

/*
┌────────────────────────────────────────────────────┐
!                      Header                        │
└────────────────────────────────────────────────────┘
*/

.header {
  background-image: var(--gradient-1);
  border-bottom: 5px solid var(--c-3);
  border-top: 5px solid var(--c-3);
}

/** <=<=[ int ]=>=> */

.header .int:nth-child(1) {
  left: 50%;
  /* background-image: var(--gradient-1-inv); */
  background-color: var(--c-6);
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 0 0 3rem 3rem;
  outline: 1px solid var(--c-4);
}

.header .int:nth-child(2) {
  left: 50%;
  height: 35%;
  background-image: var(--gradient-1);
  transform: translate(-50%, 0);
  width: 76%;
  border-radius: 0 0 3rem 3rem;
  outline: 1px solid var(--c-4);
}

.header .int:nth-child(3) {
  width: 10%;
  background-color: var(--c-6);
  bottom: 0;
  border-radius: 0 3rem 0 0;
}

.header .int:nth-child(4) {
  width: 10%;
  right: 0;
  background-color: var(--c-6);
  bottom: 0;
  border-radius:3rem 0 0 0;
}

.header .int:nth-child(5) {
  width: 70%;
  height: 25%;
  background-image: var(--gradient-1-inv);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2rem 2rem 0 0;
}

.header .int:nth-child(6) {
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-image: var(--gradient-1);
  border-radius: 3rem;
}

.header .int:nth-child(7) {
  width: 35%;
  top: 50%;
  left: 50%;
  height:80%;
  transform: translate(-50%, -50%);
  background-image: var(--gradient-1-inv);
  border-radius: 3rem;
}

.header .int:nth-child(8) {
  left: -5%;
  width: 10%;
  background-image: var(--gradient-1);
  height: 35%;
  border-radius: 0 0 2rem 0;
}

.header .int:nth-child(9) {
  right: -5%;
  width: 10%;
  background-image: var(--gradient-1);
  height: 35%;
  border-radius: 0 0 0 2rem;
}

.header .int:nth-child(10) {
  width: 9%;
  height: 35%;
  background-image: var(--gradient-1);
  bottom: 0;
  border-radius: 0 3rem 0 0;
}

.header .int:nth-child(11) {
  width: 9%;
  height: 35%;
  background-image: var(--gradient-1);
  right: 0;
  bottom: 0;
  border-radius: 3rem 0 0 0;
}


/*
┌────────────────────────────────────────────────────┐
!                       Left                         │
└────────────────────────────────────────────────────┘
*/

.left {
  background-image: var(--bg-L);
}
/*
┌────────────────────────────────────────────────────┐
!                       c-1                          │
└────────────────────────────────────────────────────┘
*/

.c-1 {
  background-image: var(--gradient-1-inv);
}

/*
┌────────────────────────────────────────────────────┐
!                       c-2                          │
└────────────────────────────────────────────────────┘
*/

.c-2 {
  background-image: var(--gradient-1-inv);
}

/*
┌────────────────────────────────────────────────────┐
!                       c-3                          │
└────────────────────────────────────────────────────┘
*/

.c-3 {
  background-image: var(--gradient-1);
}

/*
┌────────────────────────────────────────────────────┐
!                       c-4                          │
└────────────────────────────────────────────────────┘
*/

.c-4 {
  background-image: var(--gradient-1);
}

/*
┌────────────────────────────────────────────────────┐
!                      Right                         │
└────────────────────────────────────────────────────┘
*/

.right {
  background-image: var(--bg-R);
}

/** <=<=[ int ]=>=> */

/*
┌────────────────────────────────────────────────────┐
!                      Footer                        │
└────────────────────────────────────────────────────┘
*/

.footer {
  background-image: var(--gradient-1-inv);
  border-top: 5px solid var(--c-3);
  border-bottom: 5px solid var(--c-3);
}

/** <=<=[ int ]=>=> */

.footer .int:nth-child(1) {
  left: 50%;
  background-color: var(--c-7);
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 3rem 3rem 0 0;
  outline: 1px solid var(--c-4);
  bottom: 0;
}

.footer .int:nth-child(2) {
  left: 50%;
  background-image: var(--gradient-1);
  transform: translate(-50%, 0);
  width: 76%;
  height: 35%;
  border-radius: 3rem 3rem 0 0;
  outline: 1px solid var(--c-4);
  bottom: 0;
}

.footer .int:nth-child(3) {
  width: 10%;
  background-color: var(--c-7);
  bottom: 0;
  border-radius: 0 0 3rem 0;
  top: 0;
}

.footer .int:nth-child(4) {
  width: 10%;
  right: 0;
  background-color: var(--c-7);
  bottom: 0;
  border-radius:0 0 0 3rem;
  top: 0;
}

.footer .int:nth-child(5) {
  width: 70%;
  height: 25%;
  background-image: var(--gradient-1);
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0 0 2rem 2rem;
}

.footer .int:nth-child(6) {
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-image: var(--gradient-1);
  border-radius: 3rem;
}

.footer .int:nth-child(7) {
  width: 35%;
  top: 50%;
  left: 50%;
  height:80%;
  transform: translate(-50%, -50%);
  background-image: var(--gradient-1-inv);
  border-radius: 3rem;
}

.footer .int:nth-child(8) {
  left: -5%;
  width: 10%;
  background-image: var(--gradient-1-inv);
  height: 35%;
  border-radius: 0 2rem 0 0;
  bottom: 0;
}

.footer .int:nth-child(9) {
  right: -5%;
  width: 10%;
  background-image: var(--gradient-1-inv);
  height: 35%;
  border-radius: 2rem 0 0 0;
  bottom: 0;
}

.footer .int:nth-child(10) {
  width: 9%;
  height: 35%;
  background-image: var(--gradient-1-inv);
  bottom: 0;
  border-radius: 0 0 3rem 0;
  top: 0;
}

.footer .int:nth-child(11) {
  width: 9%;
  height: 35%;
  background-image: var(--gradient-1-inv);
  right: 0;
  bottom: 0;
  border-radius: 0 0 0 3rem;
  top: 0;
}